In [124]:
import pandas as pd

In [125]:
house_data_to_load = "Resources/Suburb_HouseV2021A.csv"
house_data = pd.read_csv(house_data_to_load)
house_data.head(5)

,Suburb House Price - 2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,prelim 2022,change,change,Growth PA,NaN
1,locality,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,2020-2021,2011-2021,NaN,NaN
2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABBOTSFORD,730000,714000,792500,862500,925000,1187500,1280000,1192500,1050000,1200000,1375000,1517500,15,88,6.5,NaN

In [126]:
house_data = house_data.drop(index=([0,1,2,3])).copy()
house_data.head(5)

,Suburb House Price - 2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
4,ABBOTSFORD,730000,714000,792500,862500,925000,1187500,1280000,1192500,1050000,1200000,1375000,1517500,15,88,6.5,NaN
5,ABERFELDIE,994000,852500,947500,1045000,1207500,1300000,1471000,1498500,1390000,1520000,1880500,1575000,24,89,6.6,NaN
6,AINTREE,-,-,-,-,600000,600000,571000,557500,575000,640000,719000,760000,12,NaN,NaN,NaN
7,AIREYS INLET,680000,634000,664000,625500,680000,715000,737500,869000,985000,1132500,1775000,1750000,57,161,10.1,NaN
8,AIRPORT WEST,557500,495000,532000,575000,635000,742000,845000,845000,795000,812500,960000,919500,18,72,5.6,NaN

In [127]:
house_data = house_data.rename(columns={'Suburb House  Price - 2021':'Suburb',
    'Unnamed: 1':'2011','Unnamed: 2':'2012','Unnamed: 3':'2013','Unnamed: 4':'2014','Unnamed: 5':'2015',
    'Unnamed: 6':'2016','Unnamed: 7':'2017','Unnamed: 8':'2018','Unnamed: 9':'2019','Unnamed: 10':'2020',
    'Unnamed: 11':'2021','Unnamed: 12':'2022','Unnamed: 13':'2020-2021','Unnamed: 14':'2011-2021',
    'Unnamed: 15':'Growth PA'} ).copy()
house_data.head(5)

,Suburb,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2020-2021,2011-2021,Growth PA,Unnamed: 16
4,ABBOTSFORD,730000,714000,792500,862500,925000,1187500,1280000,1192500,1050000,1200000,1375000,1517500,15,88,6.5,NaN
5,ABERFELDIE,994000,852500,947500,1045000,1207500,1300000,1471000,1498500,1390000,1520000,1880500,1575000,24,89,6.6,NaN
6,AINTREE,-,-,-,-,600000,600000,571000,557500,575000,640000,719000,760000,12,NaN,NaN,NaN
7,AIREYS INLET,680000,634000,664000,625500,680000,715000,737500,869000,985000,1132500,1775000,1750000,57,161,10.1,NaN
8,AIRPORT WEST,557500,495000,532000,575000,635000,742000,845000,845000,795000,812500,960000,919500,18,72,5.6,NaN

In [128]:
house_data = house_data.drop(columns=['Unnamed: 16']).copy()
house_data.head(5)

,Suburb,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2020-2021,2011-2021,Growth PA
4,ABBOTSFORD,730000,714000,792500,862500,925000,1187500,1280000,1192500,1050000,1200000,1375000,1517500,15,88,6.5
5,ABERFELDIE,994000,852500,947500,1045000,1207500,1300000,1471000,1498500,1390000,1520000,1880500,1575000,24,89,6.6
6,AINTREE,-,-,-,-,600000,600000,571000,557500,575000,640000,719000,760000,12,NaN,NaN
7,AIREYS INLET,680000,634000,664000,625500,680000,715000,737500,869000,985000,1132500,1775000,1750000,57,161,10.1
8,AIRPORT WEST,557500,495000,532000,575000,635000,742000,845000,845000,795000,812500,960000,919500,18,72,5.6

In [129]:
import numpy as np
house_data = house_data.replace('-',np.NaN).copy()
#house_data = house_data.replace('NA',np.NaN).copy() 

#house_data.loc[house_data['Suburb'] =='BEEAC']

In [130]:
import sqlite3

In [131]:
# Create Tables
conn = sqlite3.connect('static/data/house.sqlite')

c = conn.cursor()

c.execute('''DROP TABLE change;''')
c.execute('''DROP TABLE median_house;''')
""" c.execute('''CREATE TABLE year_period
       (year_period_id  CHAR(3) PRIMARY KEY     NOT NULL,
       NAME CHAR(50)    NOT NULL);''') """

c.execute('''CREATE TABLE change
       (suburb  CHAR(50) NOT NULL,
       period   char(50) NOT NULL,
       change_percent Numeric,
       primary key (suburb,period));''')

c.execute('''CREATE TABLE median_house
       (suburb  CHAR(50) NOT NULL,
       year integer NOT NULL,
       median Numeric,
       primary key (suburb,year));''')
print ("tables created")

tables created

In [132]:
for ind, row in house_data.iterrows():
    # Insert into table median_house
    for year in ['2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']:
        #print(row['Suburb'],year, row[year])
        if ( pd.notnull(row[year])):
            SQL = f"INSERT INTO median_house (suburb,year,median) VALUES ( '{row['Suburb']}', {year}, {row[year]} )"
            #print(SQL)
            c.execute(SQL)
    # Insert into table change
    for period in ['2020-2021','2011-2021','Growth PA']:
        if ( pd.notnull(row[period])):
            SQL = f"INSERT INTO change (suburb,period,change_percent) VALUES ( '{row['Suburb']}', '{period}', {row[period]} )"
            #print(SQL)
            c.execute(SQL)

INSERT INTO change (suburb,period,change_percent) VALUES ( 'ABBOTSFORD', '2020-2021', 15 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ABBOTSFORD', '2011-2021', 88 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ABBOTSFORD', 'Growth PA', 6.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ABERFELDIE', '2020-2021', 24 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ABERFELDIE', '2011-2021', 89 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ABERFELDIE', 'Growth PA', 6.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AINTREE', '2020-2021', 12 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AIREYS INLET', '2020-2021', 57 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AIREYS INLET', '2011-2021', 161 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AIREYS INLET', 'Growth PA', 10.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AIRPORT WEST', '2020-2021', 18 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AIRPORT WEST', '2011-2021', 72 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AIRPORT WEST', 'Growth PA', 5.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBANVALE', '2020-2021', 12 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBANVALE', '2011-2021', 92 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBANVALE', 'Growth PA', 6.8 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBERT PARK', '2020-2021', 21 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBERT PARK', '2011-2021', 65 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBERT PARK', 'Growth PA', 5.2 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBION', '2020-2021', 14 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBION', '2011-2021', 108 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALBION', 'Growth PA', 7.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALEXANDRA', '2020-2021', 16 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALEXANDRA', '2011-2021', 73 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALEXANDRA', 'Growth PA', 5.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALFREDTON', '2020-2021', 18 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALFREDTON', '2011-2021', 82 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALFREDTON', 'Growth PA', 6.2 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALLANSFORD', '2020-2021', 19 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALLANSFORD', '2011-2021', 33 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALLANSFORD', 'Growth PA', 2.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALPHINGTON', '2020-2021', 23 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALPHINGTON', '2011-2021', 132 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALPHINGTON', 'Growth PA', 8.8 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA', '2020-2021', 26 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA', '2011-2021', 102 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA', 'Growth PA', 7.3 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA EAST', '2020-2021', 17 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA EAST', '2011-2021', 94 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA EAST', 'Growth PA', 6.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA MEADOWS', '2020-2021', 13 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA MEADOWS', '2011-2021', 82 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA MEADOWS', 'Growth PA', 6.2 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA NORTH', '2020-2021', 16 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA NORTH', '2011-2021', 85 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ALTONA NORTH', 'Growth PA', 6.3 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ANGLESEA', '2020-2021', 31 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ANGLESEA', '2011-2021', 140 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ANGLESEA', 'Growth PA', 9.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'APOLLO BAY', '2020-2021', 29 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'APOLLO BAY', '2011-2021', 85 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'APOLLO BAY', 'Growth PA', 6.3 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARARAT', '2020-2021', 28 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARARAT', '2011-2021', 85 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARARAT', 'Growth PA', 6.4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARDEER', '2020-2021', 17 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARDEER', '2011-2021', 100 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARDEER', 'Growth PA', 7.2 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARMADALE', '2020-2021', 0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARMADALE', '2011-2021', 60 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARMADALE', 'Growth PA', 4.8 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARMSTRONG CREEK', '2020-2021', 21 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARMSTRONG CREEK', '2011-2021', 222 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ARMSTRONG CREEK', 'Growth PA', 12.4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASCOT (GREATER BENDIGO)', '2020-2021', 20 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASCOT (GREATER BENDIGO)', '2011-2021', 74 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASCOT (GREATER BENDIGO)', 'Growth PA', 5.7 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASCOT VALE', '2020-2021', 4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASCOT VALE', '2011-2021', 79 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASCOT VALE', 'Growth PA', 6.0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASHBURTON', '2020-2021', 25 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASHBURTON', '2011-2021', 125 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASHBURTON', 'Growth PA', 8.4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASHWOOD', '2020-2021', 15 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASHWOOD', '2011-2021', 93 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASHWOOD', 'Growth PA', 6.8 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASPENDALE', '2020-2021', 16 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASPENDALE', '2011-2021', 106 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASPENDALE', 'Growth PA', 7.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASPENDALE GARDENS', '2020-2021', 17 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASPENDALE GARDENS', '2011-2021', 106 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ASPENDALE GARDENS', 'Growth PA', 7.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ATTWOOD', '2020-2021', 29 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ATTWOOD', '2011-2021', 64 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'ATTWOOD', 'Growth PA', 5.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVENEL', '2020-2021', 1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVENEL', '2011-2021', 105 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVENEL', 'Growth PA', 7.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVOCA', '2020-2021', 12 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVOCA', '2011-2021', 115 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVOCA', 'Growth PA', 8.0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVONDALE HEIGHTS', '2020-2021', 15 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVONDALE HEIGHTS', '2011-2021', 80 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVONDALE HEIGHTS', 'Growth PA', 6.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVONSLEIGH', '2020-2021', 22 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVONSLEIGH', '2011-2021', 95 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'AVONSLEIGH', 'Growth PA', 6.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BACCHUS MARSH', '2020-2021', 15 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BACCHUS MARSH', '2011-2021', 81 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BACCHUS MARSH', 'Growth PA', 6.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BADGER CREEK', '2020-2021', 21 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BADGER CREEK', '2011-2021', 125 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BADGER CREEK', 'Growth PA', 8.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAIRNSDALE', '2020-2021', 21 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAIRNSDALE', '2011-2021', 49 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAIRNSDALE', 'Growth PA', 4.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALACLAVA', '2020-2021', 12 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALACLAVA', '2011-2021', 95 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALACLAVA', 'Growth PA', 6.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALCOMBE', '2020-2021', 35 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALCOMBE', '2011-2021', 144 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALCOMBE', 'Growth PA', 9.3 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLAN', '2020-2021', 20 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLAN', '2011-2021', 95 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLAN', 'Growth PA', 6.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT CENTRAL', '2020-2021', 25 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT CENTRAL', '2011-2021', 119 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT CENTRAL', 'Growth PA', 8.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT EAST', '2020-2021', 22 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT EAST', '2011-2021', 99 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT EAST', 'Growth PA', 7.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT NORTH', '2020-2021', 33 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT NORTH', '2011-2021', 106 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALLARAT NORTH', 'Growth PA', 7.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALNARRING', '2020-2021', 36 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALNARRING', '2011-2021', 170 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALNARRING', 'Growth PA', 10.4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALNARRING BEACH', '2020-2021', 26 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALNARRING BEACH', '2011-2021', 149 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALNARRING BEACH', 'Growth PA', 9.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALWYN', '2020-2021', 22 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALWYN', '2011-2021', 102 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALWYN', 'Growth PA', 7.3 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALWYN NORTH', '2020-2021', 19 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALWYN NORTH', '2011-2021', 105 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BALWYN NORTH', 'Growth PA', 7.4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BANDIANA', '2020-2021', 18 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BANDIANA', '2011-2021', 22 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BANDIANA', 'Growth PA', 2.0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BANNOCKBURN', '2020-2021', 23 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BANNOCKBURN', '2011-2021', 80 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BANNOCKBURN', 'Growth PA', 6.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARANDUDA', '2020-2021', 13 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARANDUDA', '2011-2021', 43 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARANDUDA', 'Growth PA', 3.7 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARNAWARTHA', '2020-2021', 4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARNAWARTHA', '2011-2021', 63 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARNAWARTHA', 'Growth PA', 5.0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARWON HEADS', '2020-2021', 21 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARWON HEADS', '2011-2021', 156 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BARWON HEADS', 'Growth PA', 9.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAXTER', '2020-2021', 25 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAXTER', '2011-2021', 122 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAXTER', 'Growth PA', 8.3 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAYSWATER', '2020-2021', 17 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAYSWATER', '2011-2021', 95 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAYSWATER', 'Growth PA', 6.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAYSWATER NORTH', '2020-2021', 18 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAYSWATER NORTH', '2011-2021', 97 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BAYSWATER NORTH', 'Growth PA', 7.0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEACONSFIELD', '2020-2021', 25 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEACONSFIELD', '2011-2021', 77 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEACONSFIELD', 'Growth PA', 5.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEACONSFIELD UPPER', '2020-2021', 10 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEACONSFIELD UPPER', '2011-2021', 106 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEACONSFIELD UPPER', 'Growth PA', 7.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEAUFORT', '2020-2021', 20 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEAUFORT', '2011-2021', 174 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEAUFORT', 'Growth PA', 10.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEAUMARIS', '2020-2021', 22 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEAUMARIS', '2011-2021', 100 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEAUMARIS', 'Growth PA', 7.2 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEEAC', '2020-2021', 30 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEEAC', '2011-2021', 75 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEEAC', 'Growth PA', 5.7 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEECHWORTH', '2020-2021', 32 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEECHWORTH', '2011-2021', 102 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEECHWORTH', 'Growth PA', 7.3 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE', '2020-2021', 15 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE', '2011-2021', 109 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE', 'Growth PA', 7.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE HEIGHTS', '2020-2021', 22 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE HEIGHTS', '2011-2021', 136 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE HEIGHTS', 'Growth PA', 9.0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE SOUTH', '2020-2021', 28 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE SOUTH', '2011-2021', 128 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELGRAVE SOUTH', 'Growth PA', 8.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELL PARK', '2020-2021', 24 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELL PARK', '2011-2021', 97 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELL PARK', 'Growth PA', 7.0 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELL POST HILL', '2020-2021', 29 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELL POST HILL', '2011-2021', 105 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELL POST HILL', 'Growth PA', 7.5 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELLFIELD (BANYULE)', '2020-2021', 22 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELLFIELD (BANYULE)', '2011-2021', 77 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELLFIELD (BANYULE)', 'Growth PA', 5.9 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELMONT', '2020-2021', 21 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELMONT', '2011-2021', 112 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BELMONT', 'Growth PA', 7.8 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENALLA', '2020-2021', 30 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENALLA', '2011-2021', 75 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENALLA', 'Growth PA', 5.8 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENDIGO', '2020-2021', 21 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENDIGO', '2011-2021', 108 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENDIGO', 'Growth PA', 7.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENTLEIGH', '2020-2021', 16 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENTLEIGH', '2011-2021', 98 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENTLEIGH', 'Growth PA', 7.1 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENTLEIGH EAST', '2020-2021', 17 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENTLEIGH EAST', '2011-2021', 104 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BENTLEIGH EAST', 'Growth PA', 7.4 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BERWICK', '2020-2021', 19 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BERWICK', '2011-2021', 89 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BERWICK', 'Growth PA', 6.6 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEVERIDGE', '2020-2021', 19 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEVERIDGE', '2011-2021', 54 )
INSERT INTO change (suburb,period,change_percent) VALUES ( 'BEVERIDGE', 'Growth PA', 4.4 )

In [133]:
conn.commit()
conn.close()